body{
  width:100%;
}
.App {
  text-align: center;
  display: flex;
  width:100%;
}
#main-container {
  margin-top: 80px;
  display: flex;
}
#title, #category, #description {
  display: flex;
  padding: 15px;
  justify-content: space-between;
}
#inputfield-container{
  margin-bottom: 20px;
}
form {
  display: flex;
  flex-direction: column;
}

footer{
  display: flex;
  padding: 20px;
}

#list-container {
  background-color: #f7f7f7;
  width: 200px;
}

#new-post-btn {
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 1;
}
